<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/public/js/vendor/DataTables/css/dataTables.bootstrap.css}"/>

    <script th:src="@{/public/js/vendor/DataTables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/public/js/vendor/DataTables/js/dataTables.bootstrap.min.js}"></script>
</head>

<body th:inline="text">
<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header><i class="fa fa-fw fa-file"></i>我的待办</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var html =
        "<thead>" +
        "<tr>" +
        "<th>流程名称</th>" +
        "</tr>" +
        "</thead>";
    "<tbody>";
    var list = [[${list}]];
    for(var i=0; i<list.length ; i++){
        html += "<tr><td><a target='_blank' href='/flow/myTodoIndex?processInstanceId="+list[i].processInstanceId+"&procDefKey="+list[i].processDefinitionId.split(":")[0]+"'>"+list[i].wfinstname+"</a></td>";
        html += "</tr>";
    }
    html += "</tbody>";
    $("#example").html(html);
    /*]]>*/

//    $('#example').DataTable({
//        scrollX: true,
//        "language": {
//            url:'../public/js/vendor/DataTables/Chinese.json'
//        }
//    });

</script>

</body>
</html>