<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="theme/fragments::header" />
    <link rel="stylesheet" th:href="@{/public/js/vendor/DataTables/css/dataTables.bootstrap.css}"/>

    <script th:src="@{/public/js/vendor/DataTables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/public/js/vendor/DataTables/js/dataTables.bootstrap.min.js}"></script>
</head>

<body th:inline="text">
    <div class="content_wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <aside>
                        <header><i class="fa fa-fw fa-file"></i>DataTables</header>
                        <section>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-success" role="alert">
                                            DataTables官网：<a target="_blank" href="https://www.datatables.net/">https://www.datatables.net/</a>
                                        </div>
                                        <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </aside>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var html =
            "<thead>" +
            "<tr>" +
            "<th>modelId</th>" +
            "<th>KEY</th>" +
            "<th>Name</th>" +
            "<th>创建时间</th>" +
            "<th>最后更新时间</th>" +
            "<th>操作</th>" +
            "</tr>" +
            "</thead>";
            "<tbody>";
        var list = [[${list}]];
        for(var i=0; i<list.length ; i++){
            html += "<tr><td>"+list[i].id+"</td>";
            html += "<td>"+list[i].key+"</td>";
            html += "<td>"+list[i].name+"</td>";
            html += "<td>"+list[i].createTime+"</td>";
            html += "<td>"+list[i].lastUpdateTime+"</td>";
            html += "<td>" +
                "<button type=\"button\" class=\"btn btn-primary J_ajaxSubmitBtn\" style='height: 30px' onclick=\"editorModel('"+list[i].id+"')\">编辑</button>&nbsp;" +
                "<button type=\"button\" class=\"btn btn-primary J_ajaxSubmitBtn\" style='height: 30px' onclick=\"deploy('"+list[i].id+"')\">部署</button>&nbsp;" +
                "<button type=\"button\" class=\"btn btn-primary J_ajaxSubmitBtn\" style='height: 30px' onclick=\"editXML('"+list[i].id+"'\">编辑XML</button>&nbsp;" +
                "<button type=\"button\" class=\"btn btn-primary J_ajaxSubmitBtn\" style='height: 30px' onclick=\"exportXML('"+list[i].id+"')\">导出</button>&nbsp;" +
                "<button type=\"button\" class=\"btn btn-primary J_ajaxSubmitBtn\" style='height: 30px' onclick=\"deleteModel('"+list[i].id+"')\">删除</button>&nbsp;" +
                "</td></tr>";
        }
        html += "</tbody>"
        $("#example").html(html)
        /*]]>*/

        $('#example').DataTable({
            /*paging: false,
             lengthChange: false,
             searching: false,
             ordering: false,
             info: false,*/
            scrollX: true,
            "language": {
                url:'../public/js/vendor/DataTables/Chinese.json'
            }
        });

        function editorModel(id){

        }
        function deploy(id){
            $.getJSON("/bpm/model/deploy?modelId="+id,function (data) {
                alertText(data);
                modelList();
            })
        }
        function editXML(id){

        }
        function exportXML(id){
            location.href = "export?modelId="+id;
        }
        function deleteModel(id){
            shadow_();
            $.getJSON("/bpm/model/delete?modelId="+id,function(data) {
                alertText(data);
                modelList();
            })
        }
    </script>

</body>
</html>