<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/self/model/modelList.js}"></script>
    <script th:src="@{/self/common/shadow.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:include="/common/head :: html"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <blockquote class="layui-elem-quote">
                <button class="layui-btn" function="top" onclick="createModel()" topwidth="700px" topheight="500px" inputs="type:#type">
                    <i class="layui-icon"></i>新增
                </button>
            </blockquote>
            <table class="layui-hide" id="demo"></table>
        </div>
    </div>

    <div th:include="/common/foot :: html"></div>

</div>

<div id="info" style="display:none;">
    <div class="layui-layer-title" style="cursor: move;">新建Model</div>
    <div class="layui-fluid" style="margin-top: 15px">
        <form class="layui-form" action="createModel">
            <div class="layui-form-item">
                <label class="layui-form-label">Name</label>
                <div class="layui-input-block">
                    <input type="text" name="modelName" required="" lay-verType="tips" lay-verify="required" placeholder="请输入name" autocomplete="off" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Key</label>
                <div class="layui-input-block">
                    <input type="text" name="modelKey" required="" lay-verType="tips" lay-verify="required" placeholder="请输入key" autocomplete="off" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <textarea name="description" placeholder="请输入内容" required="" class="layui-textarea" lay-verify="required"></textarea>
                </div>
            </div>
            <hr/>
            <div class="layui-form-item" style="text-align: center;">
                <button class="layui-btn" lay-submit="" onclick="shadow_()">保存</button>
                <button class="layui-btn layui-btn-primary" type="reset" onclick="layer.close(create);" >关闭</button>
            </div>
        </form>
    </div>
</div>

<div id="editXML" style="display: none">
    <div class="layui-layer-title" style="cursor: move;">XML编辑</div>
    <div class="layui-fluid" style="margin-top: 15px;">
        <input id="modelId" type="hidden" value=""/>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea name="bpmnXML" id="bpmnXML" placeholder="请输入内容" required="" class="layui-textarea" lay-verify="required" style="min-height: 400px"></textarea>
            </div>
        </div>
        <hr/>
        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn" onclick="saveModelXML()">保存</button>
            <button class="layui-btn layui-btn-primary" type="reset" onclick="layer.close(create);" >关闭</button>
        </div>
    </div>
</div>

<script>
    var create;

    layui.use(['table','util','element','jquery','layer','form'], function(){
        $ = layui.jquery;
        var table = layui.table;
        var util = layui.util;
        var layer = layui.layer;

        modelList = function(){
            table.render({
                elem: '#demo'
                ,url:'/bpm/model/list'
                ,count: 'count'
                ,cols: [[
                    {field:'id', title: 'modelId',width:'10%'}
                    ,{field:'key', title: 'KEY',width:'15%'}
                    ,{field:'name', title: 'Name',width:'15%'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    ,{field:'createTime', title: '创建时间',width:'15%', sort: true,templet: '<div>{{layui.util.toDateString(d.createTime, \'yyyy-MM-dd HH:mm:ss\')}}</div>'}
                    ,{field:'lastUpdateTime', title: '最后更新时间',width:'15%', sort: true,templet: '<div>{{layui.util.toDateString(d.lastUpdateTime, \'yyyy-MM-dd HH:mm:ss\')}}</div>'}
                    ,{title: '操作',width:'30%', templet: '<div><button class="layui-btn layui-btn-sm" onclick="editorModel({{d.id}})">编辑</button>' +
                    '<button class="layui-btn layui-btn-sm" onclick="deploy({{d.id}})">部署</button>' +
                    '<button class="layui-btn layui-btn-sm" onclick="editXML({{d.id}})">编辑XML</button>' +
                    '<button class="layui-btn layui-btn-sm" onclick="exportXML({{d.id}})">导出</button>' +
                    '<button class="layui-btn layui-btn-sm" onclick="deleteModel({{d.id}})">删除</button></div>'}
                ]]
            });
        }

        modelList();

    });

</script>

</body>
</html>