<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" content=""/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" content=""/>
    <link rel="stylesheet" th:href="@{/public/css/vendor/bootstrap/dist/bootstrap.css}"/>
    <script th:src="@{/public/js/vendor/jquery.min.js}"></script>
    <title th:text="${name}">XML</title>
</head>

<body >
<div style="width: 99%;height: 99%;position:absolute;">
    <div style="width: 99%;height: 85%;">
        <textarea id="bpmnXML" th:text="${xml}" style="width: 99%;height: 95%;resize: none;margin: 10px"></textarea>
    </div>
    <div style="margin-left: 10px">
        <button class="btn btn-primary" type="button" onclick="submit()">提交</button>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    function submit(){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var bpmnXML = $("#bpmnXML").val();
        var modelId = [[${modelId}]];
        if(modelId == "error" || modelId == "" || modelId == undefined){
            return;
        }else{
            $.ajax({
                type: "post",
                url: "/bpm/model/saveModelXML",
                data: {
                    modelId : modelId,
                    bpmnXML : bpmnXML
                },
                dataType: "json",
                async: false,
                beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function(data){
                    alert(data);
                    window.location.href = "/bpm/model/getBpmnXML?modelId="+modelId;
                },
                error:function (data) {
                    alert(data);
                }
            });
        }
    }
    /*]]>*/
</script>

</body>
</html>